/*#siteWrapper #page{
  margin: none;
  padding: none;
  max-width: none;
}*/

/*#content{
  max-width: 1020px;
}*/

/*main {
  padding: 0 !important;
}
*/
#fullcirclemap img{
  max-width: none !important;
}

#fullcirclemap{
  width: 100%; 
  height: 700px;
  float: left;
}

#charm {
  width: 0%;
  height: 700px;
  float: left;
}

#preFooter nav {
  margin-top: 30px;
}

@media screen and (min-width: 852px) {
  #fullcirclemap{
    min-width: 60%;
    max-width: 100%;
    /*height: 700px;*/
  }

  #charm {
    max-width: 40%;
    /*height: 800px;*/
  }
}

@media screen and (min-width: 769px) {
  #fullcirclemap{
    min-width: 50%;
    max-width: 100%;
    /*height: 700px;*/
  }

  #charm {
    max-width: 50%;
    /*height: 800px;*/
  }
}

@media screen and (max-width: 768px) {
  #fullcirclemap{
    min-width: 100%;
    /*height: 400px;*/
  }

  #charm {
    min-width: 100%;
    position: absolute;
    /*height: 400px;*/
  }
}

/* prevent 640px padding addition */
/*.row .col .sqs-block.code-block.sqs-block-code {
  padding: 0 !important;
}*/

#video {
  height: 100%;
}

#close-video-button{
  color: white;
  position: absolute;
  cursor: pointer;
}

button#scrollButton {
  background-color: white !important;
}